@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400; 500; 600; 700&display=swap');
*{
    font-family:Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;     
}

:root{
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222321;
    --box-color: #0d0f26;
    --bg-color: #fff;
}
body{
    color: var(--bg-color);
    background: var(--body-color);
}

.social{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.social .bx{
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: var(--container-color);
}

.social .bx:hover{
    background: var(--main-color);
    transition: 0.3s all linear;
}


.contact-wrap{
    width:80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-info{
    padding: 40px 30px;
    
}

.contact-info:nth-child(1){
    flex: 25%;
    background: var(--body-color);
}

.contact-info:nth-child(2){
    flex: 45%;
    background: var(--body-color);
}

.contact-info:nth-child(3){
    flex: 30%;
    padding: 0;
}

.contact-info h1{
    font-size: 24px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px; 
}

.contact-info h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact-info h2 .bx{
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #171b3c;
    color:rgb(255, 255, 255);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
}

.contact-info p{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 12px;
    margin-left: 3rem;
}

.contact-info .bx:hover{
    background: var(--main-color);
    transition: 0.3s all linear;

}

.contact-info form{
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.contact-i-box{
    border: none;
    outline: none;
    max-width: 100%;
    font-size: 0.9rem;
    padding: 15px;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: 0.4rem;
}

.contact-m-box{
    border: none;
    outline: none;
    max-width: 100%;
    font-size: 0.9rem;
    padding: 15px;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: 0.4rem;
}

.contact-info .send-btn{
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 15px;
    color: var(--bg-color);
    border-radius: 0.4rem;
    width:140px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: var(--main-color);
    cursor: pointer;
    float: right;
}

.contact-info .send-btn:hover{
    background: #546eff;
    transition: 0.3s all linear;
}


.contact-info iframe
{
    margin-top: 6.2rem;
    width:100%;
    height: 445px;
    border-radius: 2.5%;
}


